/*--Basic styling --*/

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: #959090;
    user-select: none;
}

/*-- Input element --*/
input {
    color: #b3c4c4;
    background-color: #3d4149;
    border: none;
    padding: 15px;
    border-radius: 4px;
    font-size: large;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin: 0 15px 15px;
}

/*-- Button -- */

button {
    color: #fdfdfd;
    background-color: #5a4006;
    border: none;
    padding: 15px;
    border-radius: 4px;
    font-size: medium;
    text-align: center;
    cursor: pointer;
    margin: 0 15px 15px;
}
button:hover{
background-color: #14c1fa;
transform: translateY(-5px);
}

/*-- Container --*/
.container {
    border: 3px solid #efaa0a;
    display: flex;
    flex-direction: column;
    max-width: 320px;
    background-color: #fff;
    margin: 30px auto;
    

}

/*-- Image --*/
 img {
    width: 200px;
    margin: 0 auto;
 }

 /*-- List --*/
 ul {
    margin: 0 15px 15px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    gap: 10px;
 }

 ul li {
    background-color: #e0dada;
    cursor: pointer;
    color: brown;
    padding: 15px;
    border-radius: 5px;
    flex-grow: 1;
    text-align: center;
 }
 ul li:hover {
    background-color: #ac485a;
    color: #fff;
 }